/*css added by venu*/
.flash-error {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none; 
    cursor: default;
    position: fixed;
    line-height: 30px;
    
}


#fixed_error {
   position: fixed;
    font-size: 17px;
    padding: 10px;
    color: #FBFFFF !important;
    top: 35%;
    left: 30%;
    width: 40%;
    z-index: 20;
    background: #348b43;
    text-align: center;
    border:1px solid #ccc;
}

.flash-error-red {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
     display: none; 
    cursor: default;
    position: fixed;
    line-height: 30px;
    
}

.errorblogclose_button{
        margin-left: 14px;
    color: #fff;
    opacity: 1;
    margin-top: 4px;
    font-size: 22px;
}
#phoneerror{
    display: table-footer-group;
}
#fixed_error_red {
       position: fixed;
    font-size: 17px;
    padding: 10px 28px;
    color: #fcf8e3 !important;
    top: 35%;
    left: 0 !important;
    margin: 0 auto;
    width: fit-content !important;
    right: 2% !important;
    z-index: 20;
    background: #ec2521;
    text-align: center;
    border: 1px solid #ccc;
}

.error {
    color: red;
}


#fixed_error .close, .flash-error .close {
    color:#fff;
    opacity:1 !important;
}



.alert-message {
    position:fixed;
    z-index:999999;
    top:130px;
    right:0;
    left:0;
}


.alert_message {
    background:#F4B39C;
}


.alert_success {
    color:#AE3910;
    border-color:rgba(214,233,198,0);
}


.success_alert {
    margin-top: 10px;
}